apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      service: trpc
  template: 
    metadata:
      labels:
        service: trpc
    spec:
      containers:
        - name: container
          image: rem-backend-image
          imagePullPolicy: Always
          ports:
            - containerPort: 3050
              name: api
          env:
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: POSTGRES_HOST
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: POSTGRES_PORT
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: POSTGRES_DB
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: NODE_ENV
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: PORT
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: REDIS_HOST
            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: REDIS_PORT
            - name: WEB_PAGE_DOMAIN
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: WEB_PAGE_DOMAIN 
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: POSTGRES_PASSWORD
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: REDIS_PASSWORD

