apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./../base/
namePrefix: staging-
configMapGenerator:
- behavior: merge
  envs:
  - application.properties
  name: configmap
patches:
- path: patch_depl_annot.yaml
