apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rememberry
namePrefix: rem-frontend-
resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml
labels:
- includeSelectors: true
  pairs:
    app: rememberry-frontend
configMapGenerator:
- name: configmap
  envs:
  - application.properties
images:
- name: rem-frontend-image
  newName: notemann27/rememberry-frontend
  newTag: "latest"
